/*********************variables***********************/

$panel-margin: 30px;
$center-margin: 10px;




/*********************universal style***********************/
.center-parent{
	display: flex;
	margin-left: $center-margin;
}
.center-child{
	flex:1;
	margin-left: $center-margin;
}



/*********************custome style***********************/
.panel {

    flex: 1;
    min-width: 40%;
    display: inline-block;
    box-sizing: border-box;

    .panel-heading{
		input[type="checkbox"]{
			border:#fff;
		}
    }
    h3{
		display: inline-block;
    }
    .filter-radios{
    	@extend .center-parent;
    	.radio-item{
    		@extend .center-child;
    	}
    }
    .keywords{
    	position: relative;
    	.tag{
    		display: inline-block;
    		margin-left: 16px;
    	}
    	.btn-group{
    		// position: absolute;
    		float: right;
    	}
    	.label,.label{
    		background-color: none;
    		display: inline-block;
    	}
    }
}


.panel+.panel {
    margin-left: $panel-margin;
}

.panel:nth-child(2n-1) {
    margin-left: -$panel-margin;
}



