@import "../../assets/stylesheets/variables.scss";
.mycontainer{
  margin-top: 30px;
  width: 100%;
}

ul{
  list-style:none;
  margin:0;
  padding:0;
}

.my-left{
  width:  240px;
  float: left;
  margin-right: 50px;
  // overflow: hidden;
}
.my-right{
  overflow: hidden;
  font-family: "Microsoft Yahei";
}
.content-body{
  display: inline-block;
  width: 100%;
}


a{
  color: white;
  text-decoration:none;
  cursor:pointer;
  padding: 16px 22px;
  box-sizing:border-box;
  display:inline-block;
  width:100%;
}
li{
  color: white;
  background:#3ab4a6;
}
.has-sub{
  li{
    padding:0px 22px;
    background:#49505a;
  }
  .sub-menu{
    display: none;
  }
}
.has-sub-li {
  position: relative;
  &:before,&:after{
    position:absolute;
    right:26px;
    top:50%;
    transform-origin:center center;
    height:10px;
    width:2px;
        content:"";
    background: #fff;
  }
  &:before{
      transform:translateY(-50%);
  }
  &:after{
     transform: translateY(-50%) rotate(90deg) ;
  }
}
.open .has-sub-li{
  transition:  transform 2s ease-out;
  &:before{
    transform-origin: center center;
    transform: translateY(-50%) rotate(45deg);
  }
  &:after{
   transform: translateY(-50%) rotate(135deg);
  }
}
.sub-menu{
    transition:transform 1s ease-out;
  // display: none;
  // transform:translateY(-500px);
  // transform:translateY(-100%);

}
.open .sub-menu{

  // transform:translateY(100%);
  display: block;
}
.chosen-tick{
  position: relative;
  i{
    position: absolute;
    right: 3px;
    top: 50%;
    transform:translateY(-50%);
  }
}



/***************************************right part****************************/
p{
  width: 100%;
}
.extract-btn{
  float: right;
  background: #3ab4a6;
  color: #fff;
  padding: 6px 30px;
  border-radius: 5px;
  &:hover{
    background: #43C7B7;
  }
}
$center-margin: 10px;

.center-parent{
    display: flex;
    margin-left: $center-margin;
}
.center-child{
    flex:1;
    margin-left: $center-margin;
}

.table{
    width: 100%;
    margin: 20px auto;
    table-layout: fixed;
    th,td{
        box-sizing:border-box;
        display: table-cell;
        padding: 4px 10px;
        text-align: center;
    }
    th{
        height: 30px;
        text-align: center;
    }
}
.table-wrapper{
    display: block;
}
.my-table{
    @extend .table;
    th {
        background-color: #3ab4a6;
        color: white;
    }
    tr:hover {background-color: $table-hover}
    tr:nth-child(even){background-color: $table-even}
    th:nth-child(1),td:nth-child(1){width: 10%;}
    th:nth-child(1),th:nth-child(2){border-right: 1px solid #fff;}
    th:nth-child(2),td:nth-child(2){width: 30%;}
}

