@import "../../assets/stylesheets/variables.scss";


/**
* 自定义类
*/

.table{
    width: 80%;
    margin: 20px auto;
    table-layout: fixed;
    th,td{
        box-sizing:border-box;
        display: table-cell;
        padding: 4px 10px;
        text-align: center;
    }
    th{
        height: 30px;
        text-align: center;
    }
}

/**
reset style
*/
.pagination,.input-wrapper{
        display: inline-block;
        vertical-align: middle;
        margin: 0;
    }



/**
custom style
*/

//before未生效
.my-search{
    position: relative;
    margin: 0 1%;
    width: 40%;
    &:before{
        content:"";
        display: inline-block;
        position: absolute;
        top:0;
        left: 10px;
        width: 16px;
        height: 16px;
        background-image: url(../../assets/images/search.png);
    }
}
.modal{
    display: block;
    background-color: rgba(11, 11, 11, 0.6);
    .action{
        cursor: pointer;
    }
    .editing-input{
        padding-left: 8px;
        box-sizing:border-box;
        font-size: 12px;
        max-width: 60%;
    }
    .input-wrapper{
        input{
            width: 32px;
        }
    }
}

.table-wrapper{
    height: 200px;
    overflow: auto;
}
.my-table{
    @extend .table;
    height: 100px;
    overflow: auto;
    th {
        background-color: $base-color;
        color: white;
    }
    tbody{
        // display: block;
        height: 100px;
        overflow: auto;
    }
    tr:hover {background-color: $table-hover}
    tr:nth-child(even){background-color: $table-even}
    td:nth-child(even){color:$base-color;}
}

